language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install --only-binary=numpy,scipy -r requirements.txt
  - python setup.py install 
# command to run tests
script: nosetests 
