language: python

os:
  - linux

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
addons:
  apt:
    packages:
      - libopenblas-base
      - libopenblas-dev
      - liblapack-dev
      - gfortran
before_install:
  - pip install --upgrade pip
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install homebrew/science/openblas; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install lapack; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gfortran; fi
install:
  - pip install codecov
  - pip install -r requirements.txt
  - python setup.py build_ext --inplace
script: "nosetests  --with-coverage"
notifications:
  email: false


